body {
    background-color: pink;
  }
  
  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }
  @media (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  @media (min-height: 800px) {
    body {
      font-size: 18px;
    }
  }
  @media (orientation: landscape) {
    body {
      background-color: lightgreen;
    }
  }
  @media (min-resolution: 2dppx) {
    body {
      font-size: 20px;
    }
  }
  @media (min-width: 600px) and (max-width: 1200px) {
    body {
      background-color: lightcoral;
    }
  }
          